<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!--Configuration后面的status,这个用于设置log4j2自身内部的信息输出,可以不设置,当设置成trace时,会看到log4j2内部各种详细输出-->
<!--monitorInterval:Log4j能够自动检测修改配置文件和重新配置本身,设置间隔秒数-->
<configuration status="WARN" monitorInterval="30">

	<appenders>

		<console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5p|%F:%L|%t|%X{tx} %m%n"/>
		</console>
<!--
		<RollingFile name="rollingFile" fileName="logs/zhongkui.log" filePattern="logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] %l - %X{tx} %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="100 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile>
-->
		<!-- 只输出level及以上级别的信息(onMatch),其他的拒绝(onMismatch),每次大小超过size,则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩,作为存档 -->
		<!-- DefaultRolloverStrategy属性如不设置,则默认为最多同一文件夹下7个文件 -->
<!--
		<RollingFile name="rollingFileInfo" fileName="${sys:user.home}/logs/info.log" filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
			<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="100 MB"/>
			</Policies>
		</RollingFile>
		<RollingFile name="rollingFileWarn" fileName="${sys:user.home}/logs/warn.log" filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log">
			<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="100 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>
		<RollingFile name="rollingFileError" fileName="${sys:user.home}/logs/error.log" filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
			<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
			<Policies>
		        <TimeBasedTriggeringPolicy/>
		        <SizeBasedTriggeringPolicy size="100 MB"/>
		    </Policies>
		</RollingFile>
-->
<!--
		<Kafka name="kafka" topic="global-transactional">
			<Property name="bootstrap.servers">
				kafka-1c-1.aws-jp1.abc.com:9092,kafka-1c-2.aws-jp1.abc.com:9092,
				kafka-1c-3.aws-jp1.abc.com:9092,kafka-1a-1.aws-jp1.abc.com:9092,
				kafka-1a-2.aws-jp1.abc.com:9092,kafka-1a-3.aws-jp1.abc.com:9092
			</Property>
			<JsonLayout>
				<KeyValuePair key="component" value="validator"/>
				<KeyValuePair key="tx" value="${ctx:tx}"/>
			</JsonLayout>
		</Kafka>
-->
	</appenders>

	<loggers>
		<logger name="org.springframework" level="WARN"></logger><!--过滤掉spring的一些无用的信息-->

		<logger name="org.jiaomo.framework" level="debug"/>

		<root level="INFO">
			<appender-ref ref="Console"/>
<!--
			<appender-ref ref="rollingFile"/>

			<appender-ref ref="rollingFileInfo"/>
			<appender-ref ref="rollingFileWarn"/>
			<appender-ref ref="rollingFileError"/>

			<appender-ref ref="kafka"/>
-->
		</root>
	</loggers>
</configuration>